<h1>New book</h1>

<%= form_for(@book,'/books')do|book| %>

 <h4>Title</h4>
   <%= book.text_field :Title %>

 <h4>Body</h4>
   <%= book.text_area :Body %>
   <section>
      <%= book.submit 'Create Book' %>
   </section>

<% end %>



